@{
    ViewData["Title"] = "Best Stories";
}

<div class="container">
  <h2>Best Stories</h2>
  <input type="text" id="search" placeholder="Search">          
  <table class="table">
    <tbody>
      <tr>
        <td>Story by: Author Person </td>
      </tr>
      <tr>
        <td>Story by: Author Person </td>
      </tr>
      <tr>
        <td>Story by: Author Person </td>
      </tr>
    </tbody>
  </table>
</div>